---
layout: default
section: programa
title: esLibre 2019 - Francisco Gallego Salido - Recorriendo contenedores - iteradores, rangos y sus categorías
---

<h1 class="mt-3 mb-3">Devroom 4: Informática y Matemáticas (13:00 - 13:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/gallego_francisco.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Francisco Gallego Salido: "Recorriendo contenedores: iteradores, rangos y sus categorías"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Se explicará de manera breve el concepto de <a href="https://es.wikipedia.org/wiki/Iterador" target="_blank">iterador</a>, en qué categorías se pueden dividir y cómo el concepto de rango los abstrae. Se mostrarán ejemplos de uso y maneras de
  recorrerlos en <a href="https://es.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Francisco Gallego Salido</strong><br><br>
  <a href="https://github.com/fgallegosalido" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/fransinvodka" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  </ul>
</div>
